# Ignore condor job submission/output files
condor/

# Ignore __pycache__
__pycache__/

# Ignore predictions
output/ML/Run2a/test_on_mc20d/DNN1_on_mc20d_predictions.h5
output/ML/Run2a/test_on_mc20e/DNN1_on_mc20e_predictions.h5
output/ML/Run2d/test_on_mc20a/DNN1_on_mc20a_predictions.h5
output/ML/Run2d/test_on_mc20e/DNN1_on_mc20e_predictions.h5
output/ML/Run2e/test_on_mc20a/DNN1_on_mc20a_predictions.h5
output/ML/Run2e/test_on_mc20d/DNN1_on_mc20d_predictions.h5

output/ML/Run3a/test_on_mc23d/DNN1_on_mc23d_predictions.h5
output/ML/Run3a/test_on_mc23e/DNN1_on_mc23e_predictions.h5
output/ML/Run3d/test_on_mc23a/DNN1_on_mc23a_predictions.h5
output/ML/Run3d/test_on_mc23e/DNN1_on_mc23e_predictions.h5
output/ML/Run3e/test_on_mc23a/DNN1_on_mc23a_predictions.h5
output/ML/Run3e/test_on_mc23d/DNN1_on_mc23d_predictions.h5