# Ignore condor job submission/output files
condor/

# Ignore __pycache__
__pycache__/

# Ignore predictions
output/ML/Run2a/test_on_mc20a/DNN_on_mc20a_predictions.h5
output/ML/Run2a/test_on_mc20d/DNN_on_mc20d_predictions.h5
output/ML/Run2a/test_on_mc20e/DNN_on_mc20e_predictions.h5
output/ML/Run2d/test_on_mc20a/DNN_on_mc20a_predictions.h5
output/ML/Run2d/test_on_mc20d/DNN_on_mc20d_predictions.h5
output/ML/Run2d/test_on_mc20e/DNN_on_mc20e_predictions.h5
output/ML/Run2e/test_on_mc20a/DNN_on_mc20a_predictions.h5
output/ML/Run2e/test_on_mc20d/DNN_on_mc20d_predictions.h5
output/ML/Run2e/test_on_mc20e/DNN_on_mc20e_predictions.h5

output/ML/Run3a/test_on_mc23a/DNN_on_mc23a_predictions.h5
output/ML/Run3a/test_on_mc23d/DNN_on_mc23d_predictions.h5
output/ML/Run3a/test_on_mc23e/DNN_on_mc23e_predictions.h5
output/ML/Run3d/test_on_mc23a/DNN_on_mc23a_predictions.h5
output/ML/Run3d/test_on_mc23d/DNN_on_mc23d_predictions.h5
output/ML/Run3d/test_on_mc23e/DNN_on_mc23e_predictions.h5
output/ML/Run3e/test_on_mc23a/DNN_on_mc23a_predictions.h5
output/ML/Run3e/test_on_mc23d/DNN_on_mc23d_predictions.h5
output/ML/Run3e/test_on_mc23e/DNN_on_mc23e_predictions.h5

output/ML/Run2a/test_on_mc20a/JetDNN_on_mc20a_predictions.h5
output/ML/Run2a/test_on_mc20d/JetDNN_on_mc20d_predictions.h5
output/ML/Run2a/test_on_mc20e/JetDNN_on_mc20e_predictions.h5
output/ML/Run2d/test_on_mc20a/JetDNN_on_mc20a_predictions.h5
output/ML/Run2d/test_on_mc20d/JetDNN_on_mc20d_predictions.h5
output/ML/Run2d/test_on_mc20e/JetDNN_on_mc20e_predictions.h5
output/ML/Run2e/test_on_mc20a/JetDNN_on_mc20a_predictions.h5
output/ML/Run2e/test_on_mc20d/JetDNN_on_mc20d_predictions.h5
output/ML/Run2e/test_on_mc20e/JetDNN_on_mc20e_predictions.h5

output/ML/Run3a/test_on_mc23a/JetDNN_on_mc23a_predictions.h5
output/ML/Run3a/test_on_mc23d/JetDNN_on_mc23d_predictions.h5
output/ML/Run3a/test_on_mc23e/JetDNN_on_mc23e_predictions.h5
output/ML/Run3d/test_on_mc23a/JetDNN_on_mc23a_predictions.h5
output/ML/Run3d/test_on_mc23d/JetDNN_on_mc23d_predictions.h5
output/ML/Run3d/test_on_mc23e/JetDNN_on_mc23e_predictions.h5
output/ML/Run3e/test_on_mc23a/JetDNN_on_mc23a_predictions.h5
output/ML/Run3e/test_on_mc23d/JetDNN_on_mc23d_predictions.h5
output/ML/Run3e/test_on_mc23e/JetDNN_on_mc23e_predictions.h5

output/ML/Run2a/test_on_mc20a/GAT_on_mc20a_predictions.h5
output/ML/Run2a/test_on_mc20d/GAT_on_mc20d_predictions.h5
output/ML/Run2a/test_on_mc20e/GAT_on_mc20e_predictions.h5
output/ML/Run2d/test_on_mc20a/GAT_on_mc20a_predictions.h5
output/ML/Run2d/test_on_mc20d/GAT_on_mc20d_predictions.h5
output/ML/Run2d/test_on_mc20e/GAT_on_mc20e_predictions.h5
output/ML/Run2e/test_on_mc20a/GAT_on_mc20a_predictions.h5
output/ML/Run2e/test_on_mc20d/GAT_on_mc20d_predictions.h5
output/ML/Run2e/test_on_mc20e/GAT_on_mc20e_predictions.h5

output/ML/Run3a/test_on_mc23a/GAT_on_mc23a_predictions.h5
output/ML/Run3a/test_on_mc23d/GAT_on_mc23d_predictions.h5
output/ML/Run3a/test_on_mc23e/GAT_on_mc23e_predictions.h5
output/ML/Run3d/test_on_mc23a/GAT_on_mc23a_predictions.h5
output/ML/Run3d/test_on_mc23d/GAT_on_mc23d_predictions.h5
output/ML/Run3d/test_on_mc23e/GAT_on_mc23e_predictions.h5
output/ML/Run3e/test_on_mc23a/GAT_on_mc23a_predictions.h5
output/ML/Run3e/test_on_mc23d/GAT_on_mc23d_predictions.h5
output/ML/Run3e/test_on_mc23e/GAT_on_mc23e_predictions.h5

output/ML/Run2a/test_on_mc20a/GCN_on_mc20a_predictions.h5
output/ML/Run2a/test_on_mc20d/GCN_on_mc20d_predictions.h5
output/ML/Run2a/test_on_mc20e/GCN_on_mc20e_predictions.h5
output/ML/Run2d/test_on_mc20a/GCN_on_mc20a_predictions.h5
output/ML/Run2d/test_on_mc20d/GCN_on_mc20d_predictions.h5
output/ML/Run2d/test_on_mc20e/GCN_on_mc20e_predictions.h5
output/ML/Run2e/test_on_mc20a/GCN_on_mc20a_predictions.h5
output/ML/Run2e/test_on_mc20d/GCN_on_mc20d_predictions.h5
output/ML/Run2e/test_on_mc20e/GCN_on_mc20e_predictions.h5

output/ML/Run3a/test_on_mc23a/GCN_on_mc23a_predictions.h5
output/ML/Run3a/test_on_mc23d/GCN_on_mc23d_predictions.h5
output/ML/Run3a/test_on_mc23e/GCN_on_mc23e_predictions.h5
output/ML/Run3d/test_on_mc23a/GCN_on_mc23a_predictions.h5
output/ML/Run3d/test_on_mc23d/GCN_on_mc23d_predictions.h5
output/ML/Run3d/test_on_mc23e/GCN_on_mc23e_predictions.h5
output/ML/Run3e/test_on_mc23a/GCN_on_mc23a_predictions.h5
output/ML/Run3e/test_on_mc23d/GCN_on_mc23d_predictions.h5
output/ML/Run3e/test_on_mc23e/GCN_on_mc23e_predictions.h5